.root {
  position: absolute;
  left: 1217px;
  top: 5476px;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #78ab34;
}
.vector {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 14.0001px;
  height: 14px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
